#!/usr/bin/env python
PACKAGE = "stereo_cam_processor"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("preset", int_t, 0, "StereoBM Preset", 1, 1, 3)
gen.add("numDisp", int_t, 0, "Number of Disparities", 1, 1, 32)
gen.add("minDisp", int_t, 0, "Minimum number of Disparities", 0, -100, 1000)
gen.add("sadWindowSize", int_t, 0, "SAD Window Size", 5, 1, 255)
gen.add("dispSmoothness1", int_t, 0, "Disparity Smoothness Param 1", 1, 1, 1000)
gen.add("dispSmoothness2", int_t, 0, "Disparity Smoothness Param 2", 2, 2, 1000)
gen.add("dispSmoothnessMaxDiff", int_t, 0, "Disparity Smoothness Maximum Diff", -1, -1, 255)
gen.add("autoSetDispSmoothness", bool_t, 0, "Disparity Smoothness Auto Set Params", False, False, True)
gen.add("prefilterCap", int_t, 0, "Pre-filter Cap", 1, 0, 255)
gen.add("uniquenessRatio", int_t, 0, "Uniqueness Ratio", 10, 0, 100)
gen.add("speckleWindowSize", int_t, 0, "Speckle Window Size", 100, 1, 1000)
gen.add("speckleRange", int_t, 0, "Speckle Range", 2, 1, 50)
gen.add("fullDP", bool_t, 0, "SAD Window Size", False, False, True)
gen.add("useBM", bool_t, 0, "Use StereoBM", False, False, True)

exit(gen.generate(PACKAGE, "stereo_cam_processor", "stereo_cam_processor"))
